<!--<nav class="navbar navbar-expand-sm bg-light navbar-light " style="background-color:red;   ">-->
<!--    <div style=" margin-left:50px;">-->
<!--        <ul class="navbar-nav me-auto">-->
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">-->
<!--                    <img style="width:30px;height:30px;" src="https://cdn-icons-png.flaticon.com/256/8141/8141301.png"-->
<!--                         alt=""> DANH MỤC SÁCH</a>-->
<!--                <ul class="dropdown-menu" style="width:300px; padding:8px 15px; border-radius:1rem; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=14"> Công nghệ</a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=15"> Kinh tế</a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=3"> Giáo trình </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=1"> Truyện tranh </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=4"> Văn học </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=5"> Tiểu Thuyếtㅤ </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=6"> Lịch Sử ㅤ </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=22"> Thần thoại cổ đại </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=21">Làm đẹp </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=8"> Tôn giáoㅤ </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=16">Nấu ăn </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=9"> Kinh dị </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=10"> Gia đình </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=11"> Tình cảm </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=12"> Chính trị pháp luật </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=17"> Thiếu nhi </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=18"> Tự truyện </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=2"> Khoa học</a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=19"> Truyện ngắn </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=20"> Huyền huyễn, Tu tiên </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=7"> Tâm lýㅤ </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->
<!--                    <li><a class="dropdown-item" href="?category_id=23"> Khác.....ㅤ </a></li>-->
<!--                    <hr style="margin: 0px 0px 0px 0px; ">-->

<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->


<!--    <div class="container">-->
<!--        <div class="collapse navbar-collapse" id="collapsibleNavbar" style="margin-left:-160px;">-->
<!--            <ul class="navbar-nav me-auto">-->
<!--                {% for c in categories%}-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="?category_id={{c.id}}">{{c.name}}</a>-->
<!--                </li>-->
<!--                {%endfor%}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->


