{%extends 'layout/base.html'%}
{%block title%} Giỏ hàng {%endblock%}
{%block content%}

<div style=" background-color:white; color:#888888;">
<h1>
    trang mua hang
</h1>
</div>

<div style="height:100%; margin-top:10px;background-color:white; color:#888888; ">

    <h1>dfsdf</h1>
    <h1>dfsdf</h1><h1>dfsdf</h1><h1>dfsdf</h1><h1>dfsdf</h1><h1>dfsdf</h1>
    <h1>dfsdf</h1><h1>dfsdf</h1><h1>dfsdf</h1>

    <a style="margin:100px 10px 10px 10px; margin-left:1050px;  width:200px;  background-color:rgb(238, 77, 45);  color:white;" href="/MuaHang" class="btn ">
        <img style="width:45px;height:45px; margin-top:px; " src="https://cdn-icons-png.flaticon.com/128/478/478045.png" alt=""> Đăt hàng
    </a>

</div>




{%endblock%}
