{%extends 'layout/base.html'%}
{%block title%} Thanh Toán {%endblock%}
{%block content%}

<div style=" background-color:white; height:55 px;   ">
     <a class="navbar-brand" href="/" style="font-size:30px; color:#ee4d2d ;display:inline-block;;">  <img style="width:55px; height:55px; margin-left:20px;"
                                                   src="https://cdn-icons-png.flaticon.com/128/5832/5832416.png"> BookStore </a>

    <div  style="width:1.5px; height:35px; background-color: #ee4d2d ; margin-bottom:-5px; display:inline-block;"> </div>
    <div style="display:inline-block; font-size:22px;color:#ee4d2d ; margin-left:15px; "> Thanh Toán  </div>

</div>


<div style="height:100%; margin-top:10px;background-color:white; color:#888888; ">

    <h1> chưa build </h1>
    <h1> chưa build </h1>
    <h1> chưa build </h1>
    <h1> chưa build </h1>
     <h1> chưa build </h1>
    <h1> chưa build </h1>
     <h1> chưa build </h1>
    <h1> chưa build </h1>





    <a style="margin:100px 10px 10px 10px; margin-left:1050px;font-size:23px;  width:220px;  background-color:rgb(238, 77, 45);  color:white;"
       href="/MuaHang" class="btn ">
        <img style="width:45px;height:45px; margin-top:px; "
             src="https://cdn-icons-png.flaticon.com/128/3737/3737336.png" alt=""> Thanh Toán
    </a>

</div>


{%endblock%}
